<form [formGroup]="formGroup" class="app-form" style="width: 500px" (submit)="create()">
  <h2>Vytvoření přepravního požadavku</h2>

  <div>
    <mat-form-field class="form-item">
      <input required type="text" placeholder="stanice z" matInput [formControl]="formControlCityFrom"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredCitiesFrom | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-item">
      <input required type="text" placeholder="stanice do" matInput [formControl]="formControlCityTo"
             [matAutocomplete]="auto2">
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filteredCitiesTo | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>


  <div>
    <mat-form-field class="form-item">
      <mat-select required formControlName="commodity" placeholder="zboží">
      <mat-option *ngFor="let option of commodities" [value]="option">
        {{option.translate}}
      </mat-option>
    </mat-select>

  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" type="number" matInput required placeholder="množství" formControlName="quantity">
  </mat-form-field>
  </div>

  <div>
    <mat-form-field class="form-item">
      <input required matInput [owlDateTime]="dt1" formControlName="departureDate" [owlDateTimeTrigger]="dt1"
             placeholder="Datum od">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt1" svgIcon="calendar" class="input-calendar-icon"></mat-icon>
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>


    <mat-form-field class="form-item">
      <input required matInput [owlDateTime]="dt2" formControlName="deliveryDate" [owlDateTimeTrigger]="dt2"
             placeholder="Datum do">
      <mat-icon matSuffix [owlDateTimeTrigger]="dt2" svgIcon="calendar" class="input-calendar-icon"></mat-icon>
      <owl-date-time #dt2></owl-date-time>
    </mat-form-field>
  </div>

  <button mat-raised-button [disabled]="!formGroup.valid || !formControlCityFrom.valid || !formControlCityTo.valid"
          color="warm" style="display: inline-flex;" type="submit" class="btn-green">
    vytvořit
  </button>
</form>
