<form matLabel class="app-form" [formGroup]="formGroup" (submit)="register()">

  <h2>Vtvoření účtu obchodníka</h2>

  <h3>Uživatelské informace</h3>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required maxlength="50" placeholder="jméno" formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input matInput required maxlength="50" placeholder="přijmení" formControlName="lastName">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="heslo" formControlName="password1" type="password">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="heslo znovu" formControlName="password2" type="password">
  </mat-form-field>

  <!--<div style="display: inline-flex; width: 100%">-->
  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="telefon" formControlName="telephone" type="tel">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="email" formControlName="email" type="email">
  </mat-form-field>

  <h3>Adresa</h3>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="ulice" formControlName="street">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="číslo popisné" formControlName="houseNumber">
  </mat-form-field>


  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="město" formControlName="city">
  </mat-form-field>

  <mat-form-field class="form-item">
    <input spellcheck="false" matInput required placeholder="směrovací číslo" formControlName="postalNumber">
  </mat-form-field>


  <h3 style="text-align: left">Informace o společnosti</h3>


  <div style="display: inline-flex; width: 100%; margin-bottom: 20px">
    <mat-checkbox (change)="changeRequired(formGroup.get('representingCompany').value)" formControlName="representingCompany">
      zastupuji firmu
    </mat-checkbox>

  </div>


  <div *ngIf="formGroup.get('representingCompany').value">
    <mat-form-field class="form-item">
      <input matInput spellcheck="false" placeholder="IČ" formControlName="icNumber">
    </mat-form-field>

    <mat-form-field class="form-item">
      <input matInput spellcheck="false" placeholder="DIČ" formControlName="dicNumber">
    </mat-form-field>
  </div>


  <button mat-raised-button class="btn-green" [disabled]="!formGroup.valid" color="warm" style="display: inline-flex;" type="submit">
    registrovat
  </button>
</form>
