<form *ngIf="!isUserLoggedIn()" class="login-form" role="form" (submit)="login()">
  <div class="form-group login-textfield" style="display: inline-block">
    <mat-form-field>
      <input spellcheck="false" matInput required placeholder="email" name="username"
             [(ngModel)]="credentials.username">
    </mat-form-field>
  </div>
  <div class="form-group login-textfield" style="display: inline-block">
    <mat-form-field>
      <input spellcheck="false" matInput required type="password" name="password" placeholder="heslo"
             [(ngModel)]="credentials.password">
    </mat-form-field>
  </div>
  <button mat-raised-button class="btn-green" [disabled]="credentials.username === '' || credentials.password === ''" type="submit"
          style="display:inline-block; margin-right: 5px">přihlásit
  </button>
  <button mat-raised-button color="warm" (click)="register()" type="button" style="display:inline-block;">registrovat
  </button>
</form>

<div *ngIf="isUserLoggedIn()" class="logged-bar">
  <a mat-list-item href="#" class="person-info">
    <mat-icon style="margin-bottom: 5px; vertical-align: middle;">person</mat-icon>
    <span style="margin-left: 5px; font-size: 18px; margin-right: 20px;">{{user.firstname + ' ' + user.lastname}}</span>
    <span class="role">{{getLabelForRole(user.role)}}</span>
  </a>
  <button mat-raised-button (click)="logout()" class="btn-green" color="warm" type="button"
          style="display:inline-block;">odhlásit
  </button>
</div>
