.login-textfield {
  margin-right: 15px;
  position: relative;
  bottom: -5px;
}

.login-form .mat-form-field {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.login-form .mat-form-field.mat-focused .mat-form-field-label {
  color: white;
}

.login-form .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: white !important;
}

.logged-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #656565;
}

.person-info {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 4px;
}
