<h1 mat-dialog-title>Detail přepravního požadavku</h1>
<div mat-dialog-content>

  <h3>Informace o zákazníkovi</h3>
  <mat-list>
    <mat-list-item>
      <div class="row">
        <div class="col">{{'vytvořeno uživatelem: ' + data.request.customer.firstname + ' ' +
          data.request.customer.lastname}}
        </div>
        <div class="col">{{'telefon: ' + data.request.customer.phone}}</div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="col">{{'email: ' + data.request.customer.email}}</div>
    </mat-list-item>
  </mat-list>

  <h3>Informace o zakázce</h3>
  <mat-list>
    <mat-list-item>
      <div class="row">
        <div class="col">{{'stanice z: ' + data.request.fromCity}}</div>
        <div class="col">{{'stanice do: ' + data.request.toCity}}</div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="col">{{'převzetí: ' + (data.request.departureDate | date:"medium")}}</div>
      <div class="col">{{'dodání: ' + (data.request.deliveryDate | date:"medium")}}</div>
    </mat-list-item>
    <mat-list-item>
      <div class="col">{{'zboží: ' + data.request.commodityType.translate}}</div>
      <div class="col">{{'množství: ' + data.request.quantity}}</div>
    </mat-list-item>
  </mat-list>

  <div *ngIf="offer?.paths?.length> 0">
    <h3>Informace o cestě</h3>

    <mat-list>
      <mat-list-item>
        <div class="row">
          <div class="col">{{'stav nabídky: ' + (offer?.offerState?.name ? offer.offerState.translate : 'n/a')}}</div>
          <div class="col">{{'celková cena: ' + (offer?.finalPrice ? offer.finalPrice : 'varianta nevybrána') }}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="col">{{'cena zdrojů: ' + offer.priceResource}}</div>
          <div class="col">{{'nabídnutá sleva v %: ' + (offer?.sale ? offer.sale : 'n/a') }}</div>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let path of offer.paths; let i = index ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Varianta {{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            detail varianty
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <div class="row">
              <div class="col">{{'akcpetováno: ' + (path.accepted === true ? 'ano' : 'ne')}}</div>
              <div class="col">{{'cena za cestu: ' + path.priceByConnections}}</div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="row">
              <div class="col">{{'čas v minutách: ' + path.timeLength}}</div>
            </div>
          </mat-list-item>
        </mat-list>
        <mat-expansion-panel *ngFor="let connection of path.connections; let j = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cesta z {{connection.fromCity + ' do ' + connection.toCity }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <div class="row">
                <div class="col">{{'stanice z: ' + connection.fromCity}}</div>
                <div class="col">{{'stanice do: ' + connection.toCity}}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="row">
                <div class="col">{{'čas v minutách: ' + connection.duration}}</div>
                <div class="col">{{'propustnost: ' +connection.bandwidth}}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="data.request?.receivableState.name === 'CREATED' && offersGenerated && !offer.offerState;">
      <h3>Sleva</h3>
      <mat-slider style="width: 100%" thumbLabel [displayWith]="formatLabel" [(ngModel)]="offer.sale" step="5"
                  tickInterval="5" min="0" max="100"></mat-slider>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="data.request?.receivableState.name === 'CREATED' && offersGenerated && !offer.offerState;" mat-button
          (click)="sendOffer(data.request)" class="btn-green">
    poslat nabídku
  </button>
  <button *ngIf="data.request?.receivableState.name === 'CREATED' && !offersGenerated;" mat-button
          (click)="generateOffer(data.request.id)" class="btn-green">
    vygenerovat možnosti přepravy
  </button>
  <button mat-button [mat-dialog-close]="" class="btn-blue">zavřít</button>
</div>
