<h1 mat-dialog-title>Detail přepravního požadavku</h1>
<div mat-dialog-content>

  <h3>Informace o zakázce</h3>
  <mat-list>
    <mat-list-item>
      <div class="row">
        <div class="col">{{'stanice z: ' + data.request.fromCity}}</div>
        <div class="col">{{'stanice do: ' + data.request.toCity}}</div>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="col">{{'převzetí: ' + (data.request.departureDate | date:"medium")}}</div>
      <div class="col">{{'dodání: ' + (data.request.deliveryDate | date:"medium")}}</div>
    </mat-list-item>
    <mat-list-item>
      <div class="col">{{'zboží: ' + data.request.commodityType.translate}}</div>
      <div class="col">{{'množství: ' + data.request.quantity}}</div>
    </mat-list-item>
  </mat-list>

  <div *ngIf="offer?.paths?.length> 0">
    <h3>Informace o cestě</h3>

    <mat-list>
      <mat-list-item>
        <div class="row">
          <div class="col">{{'stav nabídky: ' + offer.offerState.translate}}</div>
          <div class="col">{{'cena zdrojů: ' + offer.priceResource}}</div>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div class="row">
          <div class="col">{{'finální cena: ' + (offer.finalPrice != 0 || (offer.finalPrice ==0 && offer.sale == 100) ?
            offer.finalPrice : 'varianta nevybrána')}}
          </div>
          <div class="col">{{'sleva v %: ' + offer.sale}}</div>
        </div>
      </mat-list-item>
    </mat-list>


    <mat-accordion>
      <mat-expansion-panel *ngFor="let path of offer.paths; let i = index ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Varianta {{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            detail varianty
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item>
            <div class="row">
              <div class="col">{{'akceptováno: '+ (path.accepted === true ? 'ano' : 'ne')}}</div>
              <div class="col">{{'cena za cestu: ' + path.priceByConnections}}</div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="row">
              <div class="col">{{'finální cena: '+ path.finalPrice}}</div>
              <div class="col">{{'čas v minutách: ' + path.timeLength}}</div>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div class="row">
              <div class="col">
                <button class="btn-green" *ngIf="data.request.receivableState.name === 'PROCESS';" mat-button
                        (click)="acceptOffer(path.id)">
                  přijmout variantu
                </button>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        <mat-expansion-panel *ngFor="let connection of path.connections; let j = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Spojeni z {{connection.fromCity + ' do ' + connection.toCity }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-list>
            <mat-list-item>
              <div class="row">
                <div class="col">{{'stanice z: ' + connection.fromCity}}</div>
                <div class="col">{{'stanice do: ' + connection.toCity}}</div>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="row">
                <div class="col">{{'čas v minutách: ' + connection.duration}}</div>
                <div class="col">{{'propustnost: ' +connection.bandwidth}}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" class="btn-blue">zavřít</button>
</div>
