<h1 mat-dialog-title>Sledování přepravy</h1>
<div mat-dialog-content>
  <app-stations [offer]="offer" [isTransitier]="false"></app-stations>

</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="" class="btn-blue">zavřít</button>
</div>
