<h2>Přehled zásilek na trati</h2>
<div style="padding: 5px">
  <table style="width: 100%; height: 70%" mat-table [dataSource]="offersDatasource" class="requests-table">

    <!-- Position Column -->
    <ng-container matColumnDef="fromCity">
      <th mat-header-cell *matHeaderCellDef>Stanice z</th>
      <td mat-cell *matCellDef="let element"> {{element.original.fromCity}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="toCity">
      <th mat-header-cell *matHeaderCellDef>Stanice do</th>
      <td mat-cell *matCellDef="let element"> {{element.original.toCity}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="departureDate">
      <th mat-header-cell *matHeaderCellDef>Plánovaný odjezd</th>
      <td mat-cell *matCellDef="let element"> {{element.departureDate | date:"medium"}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef>Plánovaný příjezd</th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date:"medium"}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="commodityType">
      <th mat-header-cell *matHeaderCellDef>Zboží</th>
      <td mat-cell *matCellDef="let element"> {{element.original.commodityType.translate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Počet</th>
      <td mat-cell *matCellDef="let element"> {{element.original.quantity}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="receivableState">
      <th mat-header-cell *matHeaderCellDef>Stav požadavku</th>
      <td mat-cell *matCellDef="let element"> {{element.original.receivableState.translate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="offerState">
      <th mat-header-cell *matHeaderCellDef>Stav nabidky</th>
      <td mat-cell *matCellDef="let element"> {{element.offerState.translate}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="selectRow(row)" [ngClass]="{'selectedRow': row.id == selectedOffer?.id}"
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<div style="width: 100%; height: 30%">
  <app-stations [offer]="selectedOffer" [isTransitier]="true"></app-stations>
</div>
