/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.green-snackbar {
  background: #84bf00 !important;
  font-size: 20px;
  color: white;
}

.red-snackbar {
  background: #fc2f0c !important;
  font-size: 20px;
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.app-form {
  padding: 20px 40px;
  width: 380px;
}

.app-form h3 {
  text-align: left;
}

.mat-toolbar.mat-primary {
  background-color: #19c1ff;
  text-align: center;
}

.mat-toolbar.mat-primary img {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}
.mat-drawer {
  background-color: #009fda;
  color: white;
}

.mat-nav-list .mat-list-item {
  color: white;
}

.mat-drawer-side {
  border-right: none;
}

.mat-toolbar-single-row {
  justify-content: center;
}

.mat-drawer-container {
  background-color: white;
  color: #333f4d;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #009fda;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #009fda;
}

h1,
h2,
h3 {
  font-weight: 400;
}

.mat-checkbox-label {
  color: rgba(0, 0, 0, 0.54);
}

.mat-raised-button {
  text-transform: uppercase;
}

.btn-green {
  background-color: #84bf00;
  color: white;
  text-transform: uppercase;
}

.btn-blue {
  background-color: #002861;
  color: white;
  text-transform: uppercase;
}

.mat-dialog-title {
  background-color: #009fda;
  color: #fff;
  margin: 0 !important;
  padding: 24px !important;
}

.mat-dialog-container {
  padding: 0 !important;
  overflow: auto !important;
}

.mat-dialog-content .mat-list {
  margin-bottom: 50px;
}

.mat-dialog-content h3 {
  color: #002861;
}

.mat-dialog-content {
  padding: 15px 24px 24px 24px !important;
  margin: 0 !important;
}

.mat-dialog-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px 24px !important;
  margin-bottom: 0 !important;
  justify-content: flex-end;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header:hover {
  background-color: #19c1ff !important;
}

.mat-expansion-panel-header-title {
  color: white !important;
}

.mat-expansion-panel-content .mat-expansion-panel-header,
.mat-expansion-panel-content .mat-expansion-panel-header:hover {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-expansion-panel-content .mat-expansion-panel-header .mat-expansion-panel-header-title {
  color: #333f4d !important;
}

.row {
  display: flex;
  width: 100%
}

.col {
  width: 50%
}
