<h2>
  Přehled za poslední měsíc
</h2>

<mat-list>
  <mat-list-item>
    <div>{{'vytvořeno požadavků zákazníkem: ' +stats.createdReceivable}}</div>
  </mat-list-item>
  <mat-list-item>
    <div>{{'zrušeno požadavků zákazníkem: ' + stats.canceledReceivable}}</div>
  </mat-list-item>
  <mat-list-item>
    <div>{{'schváleno nabídek zákazníkem: ' + stats.acceptedOffer}}</div>
  </mat-list-item>
  <mat-list-item>
    <div>{{'zamítnuto nabídek zákazníkem: ' + stats.canceledOffer}}</div>
  </mat-list-item>
  <mat-list-item>
    <div>{{'nabídnuto zákaznikovi ke schválení: ' +stats.createdOffer}}</div>
  </mat-list-item>
  <mat-list-item>
    <div>{{'doručeno zakázek zákazníkovi: ' + stats.deliveredOffer}}</div>
  </mat-list-item>

  <!--<mat-list-item>-->
  <!--<div class="row">-->
  <!--<div class="col">{{'nabídek akceptováno zákazníkem: ' +stats.doneReceivable}}</div>-->
  <!--</div>-->
  <!--</mat-list-item>-->
</mat-list>
