<h2>Přehled přepravních požadavků</h2>
<div style="padding: 5px">
  <table style="width: 100%;" mat-table [dataSource]="requestsDatasource" class="requests-table">

    <!-- Position Column -->
    <ng-container matColumnDef="fromCity">
      <th mat-header-cell *matHeaderCellDef>Stanice z</th>
      <td mat-cell *matCellDef="let element"> {{element.fromCity}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="toCity">
      <th mat-header-cell *matHeaderCellDef>Stanice do</th>
      <td mat-cell *matCellDef="let element"> {{element.toCity}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="departureDate">
      <th mat-header-cell *matHeaderCellDef>Plánovaný odjezd</th>
      <td mat-cell *matCellDef="let element"> {{element.departureDate | date:"medium" }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="deliveryDate">
      <th mat-header-cell *matHeaderCellDef>Planovaný příjezd</th>
      <td mat-cell *matCellDef="let element"> {{element.deliveryDate | date:"medium" }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="commodityType">
      <th mat-header-cell *matHeaderCellDef>Zboží</th>
      <td mat-cell *matCellDef="let element"> {{element.commodityType.translate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Množství</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="receivableState">
      <th mat-header-cell *matHeaderCellDef>Stav</th>
      <td mat-cell *matCellDef="let element"> {{element.receivableState.translate}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button (click)="openDialog(element)">
          <mat-icon>zoom_in</mat-icon>
        </button>

        <button
          *ngIf="element.receivableState.name === 'ACCEPTED_BY_CUSTOMER' || element.receivableState.name === 'DELIVERED'"
          mat-icon-button (click)="openStationsDialog(element)">
          <mat-icon>my_location</mat-icon>
        </button>
        <!--{{element.receivableState}}-->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
